<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./app/assets/css/login.css">
        <title>Index</title> 
    </head>
    <body ng-app="simpleForum" ng-controller="mainController" ng-cloak>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav navbar-nav">
                        <li><a href="#/login">Login</a></li>
                        <li><a href="#/signUp">Signup</a></li>
                        <li><a href="#/editProfile">Edit profile</a></li>
                        <li><a href="#/groups">Groups</a></li>
                        <li><a href="#/topics">Topics</a></li>
                        <li><a href="#/viewTopic">View topic</a></li>
                        <li><a href="#/createTopic">Create topic</a></li>
                        <li><a href="#/reply">Reply</a></li>
                        <li><a href="#/replyQuoted">Reply quoted</a></li>
                    </ul>
                </div>
            </div>

            <ol class="ab-nav breadcrumb">
                <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
                    <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
                    <span ng-if="$last" ng-bind="breadcrumb.label"></span>
                </li>
            </ol>

            <ng-view></ng-view>

        </div>
        
    
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-route/angular-route.js"></script>
    <script src="./node_modules/angular-breadcrumbs/dist/ng-breadcrumbs.min.js"></script>
    
    
    
    
    
    <script src="./app/app.js"></script>
    <script src="./app/controllers/mainController.js"></script>
    <script src="./app/controllers/loginController.js"></script>
    <script src="./app/controllers/signupController.js"></script>
    <script src="./app/controllers/editProfileController.js"></script>
    <script src="./app/controllers/groupsController.js"></script>
    <script src="./app/controllers/topicsController.js"></script>
    <script src="../app/controllers/viewTopicController.js"></script>
    <script src="../app/controllers/createTopicController.js"></script>
    <script src="../app/controllers/replyController.js"></script>
    <script src="../app/controllers/replyQuotedController.js"></script>

    <script src="./app/assets/usersData/loginData.js"></script>
    <script src="./app/services/validator.js"></script>
    <!--<script src="./response.js"></script>-->
    </body>
</html>