<!doctype html>
<html lang="html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Http service</title>
        <link rel="stylesheet" href="">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="tryHttp" ng-controller="resultCtrl">
            <div id="urlFieldSet">
                    <div id="urlEntry">
                        Input URL: <input type="text" name="url" ng-model="url">
                        <input type="button" ng-click="getData()" value="get data">
                        <p>{{data}}</p>
                    </div>
            </div>
            <div>
                <input type="button" ng-click="addExtraField()" value="append">
                <input type="button" ng-click="delete()" value="delete">
            </div>
        </div>

        <script type="text/javascript">

            var app = angular.module("tryHttp", []);
            app.controller("resultCtrl", function($scope, $http, $compile) {
                $scope.url = "data.html";
                $scope.data = "raw";
           
                $scope.getData = function() {
                    $http.get($scope.url).then(function(response) {
                    $scope.data = response.data;
                    });
                };
                $scope.addExtraField = function() {
                    
                    // var currentEntry = function() {
                    //     var counter = 0;
                    //     return function() {
                    //         return counter++;
                    //     };
                    // };
                    
                    function makeCounter() {
                        var currentCount = 1;

                        return function() { 
                            return currentCount++;
                        };
                    };

                    var counter = makeCounter(); 
                    
                    var currentEntry = 1;

                    var newDiv = $compile(angular.element('<div id="urlEntry">\
                                                                Input URL: <input type="text" name="url" ng-model="url">\
                                                                <input type="button" ng-click="getData()" value="get data">\
                                                                <p>{{data}}</p>\
                                                           </div>'))($scope);
                                                           
                    var urlFieldSet = angular.element(document.getElementById('urlFieldSet'));
                    urlFieldSet.append(newDiv);
                };
            });
        </script>

    </body>
</html>