<!doctype html>
<html lang="en" ng-app="simpleForum">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" type="text/css" href="../app/assets/css/landing.css">
        <title>Simple Forum</title>
    </head>
    <body ng-controller="eventHandler">
        {{message}}
        <table summary="This table contains topics">
            <caption>List of topics</caption>
            <thead>
                <tr>
                    <th width="5%" rowspan="2">icon</th>
                    <th width="70%" rowspan="2">Topic</th>
                    <th width="5%" rowspan="2">Date</th>
                    <th width="10%" colspan="2">Messages</th>
                    <th width="10%" rowspan="2"><button>Reply</button></th>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>Viewed</th>
                </tr>

            </thead>
            <tfoot>
                <tr>
                    <td colspan="6"></td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>




    <script src="../node_modules/angular/angular.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/controllers/eventHandler.js"></script>
    </body>
</html>



