            <div>
                <form action="./response.js" method="post" >
                    <fieldset>
                        <legend>Login information</legend>
                        <label for="emailField">Email: </label>
                        <input type="text" required name="userEmail" id="emailField"
                                ng-model="inputUserEmail"
                                ng-change="isValidEmail()">{{enteredValidEmail}}<br>
                                <div style="color: red">{{emailErrorMessage}}</div><br />
                        <label for="passwordField">Password: </label>
                        <input type="password" required name="userPassword" id="passwordField"
                                ng-model="inputUserPassword"
                                ng-change="isValidPassword()">{{enteredValidPassword}}<br>
                                <div style="color: red">{{passwordErrorMessage}}</div><br />
                        <label for="showPassword">Show password</label>
                        <input type="checkbox" id="showPassword" checked 
                                ng-model="showPassword" ng-change="flipVisibility()">{{showPassword}}<br>
                        
                        <label for="ifRememberMe">Remember Me</label>
                        <input type="checkbox" id="ifRememberMe"><br />
                        
                        <button class="btn"
                                ng-model="button"
                                ng-disabled="{{submitDisabled}}"
                                ng-click="isValidUser()">Submit</button>{{submitDisabled}}

                        <button>Sign up</button>

                    </fieldset>
                </form>
            </div>
