<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Create topic</title>

</head>
<body ng-app="simpleForum" ng-controller="replyQuotedController"> -->
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr style="background-color: lightgray">
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <h3>Reply to message</h3>
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr style="background-color:lightgray">
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>
                        <form name="reply">
                            <textarea rows="10" cols="160" ng-model="content" autofocus></textarea>
                        </form>
                    </td>
                </tr>    
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6 text-right">
                <div>
                    <button type="button" form="reply" class="btn btn-default" ng-click="saveReply()">Post</button>
                </div>
            </div>
            <div class="col-sm-6 text-left">
                <div>
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>
    <script src="../node_modules/angular-breadcrumbs/dist/ng-breadcrumbs.min.js"></script>
    
    <script src="../app/app.js"></script>
    <script src="../app/controllers/replyQuotedController.js"></script>

</body>
</html>    
</body>
</html> -->