<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Topics List</title>

</head>
<body ng-app="simpleForum" ng-controller="topicsController"> -->
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr style="background-color: lightgray">
                    <th colspan=6></th>
                </tr>
                <tr>
                    <th colspan=6>
                        <h3>Android development</h3>
                    </th>
                </tr>
                <tr>
                    <th colspan=2>Topic</th>
                    <th>Author</th>
                    <th>Replies</th>
                    <th>Views</th>
                    <th>Last reply</th>
                </tr>
            </thead>
            <tfoot>
                <tr style="background-color:lightgray">
                    <td colspan=6></td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="entry in topics">
                    <td>
                        <img ng-src="{{entry.icon}}">
                    </td>
                    <td>
                        <p><a href="#"><u>{{entry.topic}}</u></a></p>
                        <p>{{entry.description}}</p>
                    </td>
                    <td><a href=#><u>{{entry.author}}</a></u></td>
                    <td>{{entry.replies}}</td>
                    <td>{{entry.views}}</td>
                    <td>
                        <p><span class="glyphicon glyphicon-time"></span></p>
                        <p><strong>Topic:</strong></p>
                        <p><strong>Author:</strong></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<!-- 
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>
    <script src="../node_modules/angular-breadcrumbs/dist/ng-breadcrumbs.min.js"></script>
    
    <script src="../app/app.js"></script>
    <script src="../app/controllers/topicsController.js"></script>
</body>
</html>    
</body>
</html> -->